.App {
  text-align: center;
}

.App-logo {
  background-color: rgba(184, 205, 24, 0.014);
  height: 70vmin;
  pointer-events: allc;
}
p.groove {border-style: groove;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}
p.one {
  border-style: solid;
  border-color: rgba(13, 6, 88, 0.411);}
.App-header {
  background-color: rgb(11, 67, 27);
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}

.App-link {
  color: #170210;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(90deg);
  }
}
